body{

font-family:Arial;
margin:0;
background:#fff6e8;

}


header{

background:#8b4513;
color:white;
padding:30px;
text-align:center;

}


section{

padding:20px;

}


.produto{

background:white;
padding:20px;
margin:15px 0;
border-radius:15px;
box-shadow:0 3px 10px #ccc;

}


button{

background:#ff8c00;
border:none;
padding:12px;
border-radius:10px;
color:white;
font-weight:bold;
cursor:pointer;

}


.carrinho{

background:white;
margin:20px;
border-radius:15px;

}


.finalizar{

width:100%;
font-size:18px;

}
        
