* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #fff8ee;
    color: #3a2415;
    padding-bottom: 40px;
}

header {
    background: #8b4513;
    color: white;
    text-align: center;
    padding: 35px 20px;
}

header h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
}


#cardapio {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 25px 0;
    color: #8b4513;
}


.produto {
    background: white;
    margin: 20px 0;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 5px 15px #0002;
}


.produto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}


.produto p {
    margin-bottom: 15px;
    color: #555;
}


button {
    background: #f4a300;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


button:hover {
    background: #d88900;
}


#carrinho {
    background: white;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    min-height: 80px;
}


#total {
    text-align: center;
    margin: 20px;
    font-size: 24px;
}


body > button {
    display: block;
    margin: 20px auto;
    background: #25d366;
}


@media(max-width:600px){

header h1 {
    font-size: 30px;
}

.produto {
    margin: 15px;
}

}
